
@{
    ViewBag.Title = "Index";
}

<h2>Pacientes registrados</h2>

<input type="button" id="btnMostrar" value="Mostrar" class="btn-primary" />

<table id="miTabla" class="table">
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bibliotecaPaciente.js"></script>
