
@{
    ViewBag.Title = "Index";
}

<h2>Pacientes registrados</h2>

<input type="button" id="btnMostrar" value="Mostrar" class="btn-primary" />

<table id="miTabla" class="table">
</table>

<form  action="Paciente/Paciente" method="post">
    <h3>Registrarse Paciente</h3>
    <input type="text" name="DNI " placeholder="DNI " required><br />
    <input type="text" name="nombres" placeholder="Nombres" required><br />
    <input type="text" name="apellidopaterno" placeholder="ApellidoPaterno" required><br />

    <input type="text" name="apellidopaterno" placeholder="ApellidoMaterno" required><br />
    <input type="text" name="correo " placeholder="email@gmail.com" required><br />
    <input type="text" name=" direccion " placeholder=" Direccion" required><br />
    <input type="text" name="fechanacimiento " placeholder="FechaNacimiento" required><br />

    <select name="buscames">
        <option value="0">M</option>
        <option value="1">F</option>
    </select><br />

    <input type="submit" value="ENVIAR" id="boton">
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bibliotecaPaciente.js"></script>
<link href="~/Content/estilos.css" rel="stylesheet" />