
@{
    ViewBag.Title = "Index";
}

<h2>Lista De Especialidad</h2>
<select id=cmdEspecialidad>
</select>
<input type="button" value="MostrarEspecialidad" id="btnVer" />

<table id="miTabla" class="table">
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/datatables.js"></script>
<script src="~/Scripts/bibliotecaEspecialidad.js"></script>>